.historial-transacciones {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
}

h2 {
  font-size: 1.5em;
  color:white;
  margin-bottom: 10px;
}

.transaccion {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
  height: 200px;
  box-sizing: border-box;
  overflow: hidden;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.transaccion-contenedor {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.producto-detalle, .producto-ofrecido, .usuario-detalle {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.producto-imagen, .producto-imagen-ofrecido, .usuario-imagen {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.producto-detalle p, .usuario-detalle p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.usuario-detalle img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.producto-ofrecido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto-ofrecido p {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

.transaccion:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.btn-cambiar-estado {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-cambiar-estado:hover {
  background-color: #45a049;
}

/* Media Queries para hacerlo responsivo */
@media (max-width: 768px) {
  .transaccion {
    flex-direction: column;
    height: auto;
  }

  .transaccion-contenedor {
    flex-direction: column;
    gap: 10px;
  }

  .producto-detalle, .producto-ofrecido, .usuario-detalle {
    flex: none;
    width: 100%;
    text-align: center;
  }

  .producto-imagen, .producto-imagen-ofrecido {
    width: 60px;
    height: 60px;
  }

  .usuario-detalle img {
    width: 35px;
    height: 35px;
  }

  .btn-cambiar-estado {
    width: 100%;
    margin-top: 20px;
  }
}
